discord.py[speed]<3.0.0
aiohttp[speedups]
pymongo
objgraph
validators
colour
cachetools
numpy
repoze.timeago
jsonpickle>=2.0.0,<3.0.4
emoji
Pillow>=9.1.0
beautifulsoup4
sentry_sdk
pydealer
ssdeep
aiohttp_socks
cython
psutil
setuptools
py-cpuinfo
black
audioop-lts
matplotlib
