objgraph
validators
colour
pymongo
discord.py>=2.0.0, <3.0.0
cachetools
numpy
repoze.timeago
jsonpickle
emoji
Pillow
beautifulsoup4
typing
sentry_sdk
pydealer
ppdeep
aiohttp_socks
cython
aiohttp[speedups]
cchardet
psutil
